<form method="POST" action="/save">
	<input type = "text" placeholder = "name" name = "movieName" value="<%=data.Title%>">
	<input type = "text" placeholder = "desc" name="description" value = "<%=data.Plot%>">
	<input type = "submit" value="submit"> 
</form>